MONGO_USER=admin
MONGO_PASS=supersecret
MONGO_URI=mongodb://admin:supersecret@mongo:27017/budget?authSource=admin

JWT_SECRET=change_me_to_random_string_64chars

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
BACKEND_URL=http://backend:4000

GEMINI_API_KEY=your_gemini_api_key_here

PORT=4000
